
@use '@angular/material' as mat;
@use "@viasoft/theming/config" as config;
@import '@viasoft/theming/use-theme';
@include useTheme();

@import '~quill/dist/quill.snow.css';

@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@viasoft/scss-utility-classes/styles/utilities.css';

h1, h2, h3, h4, h5, h6 {
    font-size: revert;
}
